.logo{
    height: 150px;
    Width: 350px;
    margin-top: 50px;
    
}

.logoContainer{
    background-color: #FC287F;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -17px;
    
}

.btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 100%;
    justify-content: space-around;
    margin-top: 50px;
}

.btns button{
    border:3px solid white ;
    border-radius: 5px;
    width:90%;
    text-align: center;
}





.foot-note{
    color: white;
    margin-bottom: 84px;
}

a{
    text-decoration: none !important;
    width:100%;
    align-items: center;
}

.btn-sign-up{
    
    color:#FC287F;
    width:90%;
    background-color: white;
}

.btn-login{
    border: 1px solid white;
    color:white;
    background-color: #FC287F;
}