.betDets-container{
    width: 100%;
    height: 80%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    
}

.betDets-container div{
    width:90%;
}

.betCard{
    text-align: center;
    margin-top: 30px  !important;
    border-radius: 10px;
    margin:0px;
    padding:0px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.betCard div{
    margin-top: 10px;
}


.vsIcons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vsIcons div{
    text-align: center;
    margin: auto;
}

.pinkify{
    color:#FC287F;
}

.btn-warning{
    
    border-radius: 20px !important;
    padding: 3px 12px 4px 12px !important;
    margin-bottom: 2px;
}

.btn-warning p{
    color:white;
    margin-bottom: 0px;
    font-size: small;
    
}

.btn-danger{
    border-radius: 20px !important;
    padding: 3px 12px 4px 12px !important;
    margin-bottom: 2px;
}

.btn-danger p{
    color:white;
    margin-bottom: 0px;
    font-size: small;
    
}

/* Form Css*/

.edit-form-container{
    width: 100%;
    
}

.edit-form-container input{
    margin: auto;
}

.edit-form-container div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.crud-btns-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.crud-btns-container p{
    margin-bottom: 2px;
}
.crud-btns-container div{
    width:100%;
    
}

