.all-user-bets-container{
    
    height: 100%;
    width: 100%;
    position: absolute;
    padding-top: 10%;
}

.accordion{
    margin-bottom: 25px !important; 
    width: 90%;
    margin: auto;
    
}

#dark .accordion{
    --bs-accordion-bg: #32373f;
    border-color: lightgrey;
    --bs-accordion-active-bg:#303641;
}

.accordion-header button{
    color: #FC287F ;
    font-weight: bold;
}


.accordion-body{
        
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 2px solid lightgrey;
}


.accordion-body div{
    padding: 3px;
}
.accordion-body p{
    margin-bottom: 5px;
    font-size: small;
}

.accordion-names{
    width:40%;
}

.accordion-names :nth-child(2){
    height: 25px;
    
}

.accordion-terms{
    width:40%;
    margin: auto;
}

.accordion-terms p {
    text-align: center;
    align-content: center;
}

.accordion-btn{
    width:fit-content;
    margin: auto;
}

