.myhub-container{
    width:90%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    
   
    
    
}

.myhub-container div{
    height: 150px;
    width: 150px;

}

canvas{
    margin-left: 30px;
}

strong{
    color:#FC287F
}

.stats-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    
}

.stats-container h1{
    color: rgb(129, 126, 126);
    margin-bottom: 5px;
}

.stats-container p{
    margin-bottom: 0px;
}

.up{
    color:rgba(75, 192, 192, 1);
}

.down{
    color:rgba(255, 99, 132, 1)
}

hr{
    width: 90%;
    height: 10px;
    color: black !important;
    opacity: 1 !important;
    margin: 5px !important;
}

.notif-primary{
    width:90%;
    
}

.notif-primary h2{
    color: rgb(129, 126, 126);
}

