.home-container{
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -84px;
}

.footer-offset{
    width:100%;
    height: 85px;
}

#dark .activeBets-header svg{
    color: azure;
}