.vsIcons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vsIcons div{
    text-align: center;
    margin: auto;
}

.betCard{
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    margin:0px;
    padding:0px !important;
}

.betLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.accordion{
    margin: 10px 20px 10px 20px
    
}

.accordion-body{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.allBets{
    text-align: center;
}