.bi-arrow-up-left-square{
    color:#1B2F38;
    margin: auto;
}

.editreqbtn{
    
    background-color: #ffc107 !important;
}

#dark .editreqbtn{
    border:1px solid #ffc107 !important;
    background-color: #20242c !important;

}

#dark .editreqbtn svg{
    color: #ffc107 !important;
}

#dark .bi-arrow-up-left-square{
    color:azure
}

#dark .bi-pencil-square{
    color:#1B2F38
}

#dark .sentReq button{
    border-color: #1B2F38;
}