.bet-log-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    padding-top:10%;
}