nav{
    background-color: #FC287F !important;
    
}
.mb-3{
    margin-bottom:0px !important;
}


.navbar div{
    flex-wrap: nowrap !important;
    
}
.navbar div a {
    width:20%
}

.nav-logo{
    height: 42px;
    width: 112px;
}

svg{
    color: white ;
}

/* off canvas*/

.offcanvas-title{
    color:#FC287F;
    font-weight: bold;
}

.live{
    color:#fb69a6 !important;
}

.coming-in-v2{
    text-decoration: line-through !important;
}
