
.log-containers{
    width:90%;
    border-bottom:1px solid Black;
}

.myBets{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    width: 100%;
    align-items: start;
    justify-content: space-evenly;
    margin-bottom: 15px;
    
}



.myBets p{
    font-size:small;
    color: black;
    margin-bottom: 10px;
}

.myBet-person{
    width:30%;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.myBet-wager{
    width:40%;

    
}

.myBet-wager p{
    margin-bottom: 1px;
}

.myBet-prize{
    width:20%
}

.myBet-prize p{
    margin-bottom: 1px;
}

.myBet-person svg{
    color:#20242c;

}

#dark .myBet-person svg{
    color:azure !important
}

.p-heads{
    color:lightslategrey !important
}



.win .bi-caret-up-fill{
    color:green;
    margin: auto;

}

.loss .bi-caret-down-fill{
    color: red;
    margin: auto;
}

.myBets a{
    text-decoration: none;
    color: black;
    
}

