.betRequest{
    
    border-bottom: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.betRequest svg{
    margin:auto;
    
}
.betReq-logo-name svg{
    color: #20242c;
}

#dark .betReq-logo-name svg{
    color: azure;
}

.betRequest a{
   
    width: fit-content;
}
.betReq-logo-name{
    display: flex;
    flex-direction: row;
    width: 35%;
}
.betReq-header{
    display: flex;
    flex-direction: column;
    
    width:70px;
}

.betReq-header p{
    margin-bottom: 0;
    font-size: small;
    padding-left: 5px;
    padding-right: 5px;
}


.betReq-body{
    width: 45%;
}

.betReq-body p{
    margin-bottom: 0;
    font-size: small;
    padding-left: 5px;
    
}

.betReq-body p:nth-child(1){
        color: lightgray;
}



.sentReq{
    
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sentReq a{
    width:fit-content
}

.details-btn{
    width:fit-content;
}

.betRequest-rejected{
    display: flex;
    flex-direction: row;
    border: 1px solid red;
}

.deletebtn{
    background-color: #dc3545 !important;
}

#dark .deletebtn{
    border: 1px solid #dc3545 !important;
    background-color: #20242c !important;
}

#dark .deletebtn svg{
    color: #dc3545 !important;
}

.infobtn{
    background-color: #0dcaf0 !important;
}

#dark .infobtn{
    border: 1px solid #0dcaf0 !important;
    background-color: #20242c !important;
}

#dark .infobtn svg{
    color: #0dcaf0 !important;
}

#dark .notif-primary button{
    border-color: #20242c;
    
}

#dark .notif-primary button svg{
    color: #20242c;
}