.welcome-container{
    display: flex;
    flex-direction: row;
    background-color: #FC287F;
    color: white;
    margin-top: -1.1rem;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    height: 100px;
}

.name-container{
    width: 50%;
}


.quote-container{
    width:50%;
    padding-right:3px;
}
.quote-container i{
    font-size: 13px;
    
}

.quote-container h5{
    margin-bottom: 2px;
}